# Ensure overlay gets built
CONFIG_BUILD_ARM64_DT_OVERLAY=y

# WLAN
CONFIG_QCA_CLD_WLAN=y

# CIFS
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_CIFS=m

# OTG
CONFIG_USB_OTG=y

# Docker stuff, should be investigated whether
# this makes sense to move to a fragment
CONFIG_BRIDGE_NETFILTER=y
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=y
CONFIG_NETFILTER_XT_MATCH_IPVS=y
CONFIG_POSIX_MQUEUE=y
CONFIG_CGROUP_PIDS=y
CONFIG_BLK_DEV_THROTTLING=y
CONFIG_CGROUP_HUGETLB=y
CONFIG_CGROUP_NET_PRIO=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_RD_XZ=y
CONFIG_BRIDGE_VLAN_FILTERING=y
